<h2>All available ingredients</h2>

<% @ingredients.each do |ingredient| %>
<h3><%= link_to ingredient.name, ingredient_path(ingredient) %></h3>
<h4>Calories: <%= ingredient.calories %>kcal | Protein: <%= ingredient.protein %>g | Fat: <%= ingredient.fat %>g | Carbohydrate: <%= ingredient.carbs %>g</h4>
<% end %>
