<h2>Diary for <%= @day.diary_date.strftime("%A, %d %B %Y") %></h2>

<h3>Sedentary Activity</h3>
<% if !@day.sedentary_activities.empty? %>
<ul>
  <% @day.sedentary_activities.each do |activity| %>
    <li> <%= activity.name %></li>
    <% end %>
</ul>
<% else %>
    <p>Too BAD! You didn't SLOUCH today!</p>
<% end %>
<%= button_to "Add Sedentary Activity", add_sedentary_activity_path,:method => :get, params: {day: @day.id} %>



<h3>Exercise</h3>
<% if !@day.exercises.empty? %>
<ul>
    <% @day.exercises.each do |exercise| %>
    <li> <%= exercise.name %></li>
    <% end %>
</ul>
<% else %>
    <p>Nice work, you've saved those precious calories!</p>
<% end %>
<%= button_to "Add Exercise", add_exercise_path,:method => :get, params: {day: @day.id} %>

<h3>Meals</h3>
<% if !@day.meals.empty? %>
<ul>
    <% @day.meals.each do |meal| %>
        <li><%= meal.name %></li>
    <% end %>
</ul>
<% else %>
    <p>Come on, why haven't you been piling on the pounds!</p>
<% end %>
<%= button_to "Add Meal", add_meal_path,:method => :get, params: {day: @day.id} %>

<h3>Snacks</h3>
<% if !@day.snacks.empty? %>
<ul>
    <% @day.snacks.each do |ingredient| %>
        <li><%= ingredient.name %></li>
    <% end %>
</ul>
<% else %>
    <p>Come on, no snacks today?!</p>
<% end %>
<%= button_to "Add Snack", add_snack_path,:method => :get, params: {day: @day.id} %>