<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being created:</h2>
    <ul>
        <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<% if params[:decision] == "new" || @meal.id != nil %>
    <%= form_for @meal do |f| %>
        <div id="form_name_field">
            <%= f.label :name %>
            <%= f.text_field :name, required: true %>
        </div>
        <div>
            <%= f.label :total_calories %>
            <%= f.number_field :total_calories, required: true %>
        </div>
        <div>
            <%= f.label :total_protein %>
            <%= f.number_field :total_protein, required: true %>
        </div>
        <div>
            <%= f.label :total_fat %>
            <%= f.number_field :total_fat, required: true %>
        </div>
        <div>
            <%= f.label :total_carbohydrate %>
            <%= f.number_field :total_carbs, required: true %>
        </div>
        <div>
            <%= f.submit %>
        </div>
    <% end %>
<% elsif params[:decision] == "selection" || @meal.id == nil %>
    <%= form_for @meal do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, required: true %>

        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name, options: {multiple: true, required: true} %>
        <%= f.submit %>
    <% end %>
<% end %>