<h2>All available Meals</h2>

<% @meals.each do |meal| %>
<h3><%= link_to meal.name, meal_path(meal)%></h3>
<h4>Total: Calories <%= meal.total_calories %>kcal | Protein <%= meal.total_protein %>g | Fat <%= meal.total_fat %>g | Carbohydrate <%= meal.total_carbs %>g</h4>
    <% unless meal.ingredients.empty? %>
        <h4>Ingredients:</h4>
        <ul>
            <% meal.ingredients.each do |ingredient| %>
            <%# <li><%= link_to ingredient.name, ingredient_path(ingredient) %>
            <li><%= ingredient.name %></li>
            <% end %>
        </ul>
    <% end %>
<% end %>

