<h2><%= @meal.name %></h2>

<h3>Nutritional Breakdown</h3>
<h5>Calories: <%= @meal.total_calories %>kcal</h5>
<h5>Protein: <%= @meal.total_protein %>g</h5>
<h5>Fat: <%= @meal.total_fat %>g</h5>
<h5>Carbohydrate: <%= @meal.total_carbs %>g</h5>

<% unless @meal.ingredients.empty? %>
    <h3>Ingredients</h3>
    <ul>
        <% @meal.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
        <% end %>
    </ul>
<% end %>
<%= link_to "Edit Meal", edit_meal_path(@meal) %> | <%= link_to "Delete Meal", meal_path(@meal), method: :delete %>

<%= button_to 'Return to See all Meals', meals_path, method: :get %>

