<h2>All available snacks</h2>

<% @snack.each do |snack| %>
<h3><%= link_to snack.name, snack_path(snack) %></h3>
<h4>Calories: <%= snack.calories %>kcal | Protein: <%= snack.protein %>g | Fat: <%= snack.fat %>g | Carbohydrate: <%= snack.carbs %>g</h4>
<% end %>
