<!DOCTYPE html>
<html>
  <head>
    <title>Slouchr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
        <h3><%= flash[:notice]%></h3>
      <% end %>
      <% if current_user %>
     (<%= link_to current_user.first_name, dashboard_path %>) | <%= link_to "Logout", sessions_path, method: :delete %>
      
      <% end %>
    <%= yield %>
  </body>
</html>
